services:
	-
		class: Patchlevel\EventSourcingPHPStanExtension\AggregateRootExtension
		tags:
			- phpstan.properties.readWriteExtension

	-
		class: Patchlevel\EventSourcingPHPStanExtension\DontRecordWhenApplyingExtension
		tags:
			- phpstan.restrictedMethodUsageExtension

	-
		class: Patchlevel\EventSourcingPHPStanExtension\DecisionModelBuilderExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: Patchlevel\EventSourcingPHPStanExtension\ProjectionBuilderExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension