services:
	-
		class: Patchlevel\EventSourcingPHPStanExtension\AggregateRootExtension
		tags:
			- phpstan.properties.readWriteExtension

	-
		class: Patchlevel\EventSourcingPHPStanExtension\DontRecordWhenApplyingExtension
		arguments:
			parser: @defaultAnalysisParser
		tags:
			- phpstan.restrictedMethodUsageExtension
