parameters:
	patchlevelEventSourcing:
		propertyInitialization: true
		noRecordThatWhenApplying: true
		noStateWriteWhenNotApplying: true

parametersSchema:
	patchlevelEventSourcing: structure([
		propertyInitialization: bool()
		noRecordThatWhenApplying: bool()
		noStateWriteWhenNotApplying: bool()
	])

conditionalTags:
	Patchlevel\EventSourcingPHPStanExtension\AggregateRootExtension:
		phpstan.properties.readWriteExtension: %patchlevelEventSourcing.propertyInitialization%
	Patchlevel\EventSourcingPHPStanExtension\DontRecordWhenApplyingExtension:
		phpstan.restrictedMethodUsageExtension: %patchlevelEventSourcing.noRecordThatWhenApplying%
	Patchlevel\EventSourcingPHPStanExtension\DontWriteStateWhenNotApplyingRule:
		phpstan.rules.rule: %patchlevelEventSourcing.noStateWriteWhenNotApplying%

services:
	-
		class: Patchlevel\EventSourcingPHPStanExtension\AggregateRootExtension

	-
		class: Patchlevel\EventSourcingPHPStanExtension\DontRecordWhenApplyingExtension
		arguments:
			parser: @defaultAnalysisParser
		tags:
			- phpstan.restrictedMethodUsageExtension

	-
		class: Patchlevel\EventSourcingPHPStanExtension\DontWriteStateWhenNotApplyingRule
