parameters:
	ignoreErrors:
		-
			rawMessage: 'Method Patchlevel\EventSourcing\Aggregate\BasicChildAggregate::recordThat() records an event and is called from apply method applyNameChanged().'
			identifier: patchlevel.noRecordThatWhenApplying
			count: 1
			path: tests/Invalid/PersonalInformation.php

		-
			rawMessage: 'Aggregate state property "count" should only be written in an #[Apply] method, but is written in "Patchlevel\EventSourcingPHPStanExtension\Tests\Invalid\Profile::otherWriteForms()".'
			identifier: patchlevel.noStateWriteWhenNotApplying
			count: 3
			path: tests/Invalid/Profile.php

		-
			rawMessage: 'Aggregate state property "instances" should only be written in an #[Apply] method, but is written in "Patchlevel\EventSourcingPHPStanExtension\Tests\Invalid\Profile::otherWriteForms()".'
			identifier: patchlevel.noStateWriteWhenNotApplying
			count: 1
			path: tests/Invalid/Profile.php

		-
			rawMessage: 'Aggregate state property "items" should only be written in an #[Apply] method, but is written in "Patchlevel\EventSourcingPHPStanExtension\Tests\Invalid\Profile::otherWriteForms()".'
			identifier: patchlevel.noStateWriteWhenNotApplying
			count: 3
			path: tests/Invalid/Profile.php

		-
			rawMessage: 'Aggregate state property "name" should only be written in an #[Apply] method, but is written in "Patchlevel\EventSourcingPHPStanExtension\Tests\Invalid\Profile::changeStateHidden()".'
			identifier: patchlevel.noStateWriteWhenNotApplying
			count: 1
			path: tests/Invalid/Profile.php

		-
			rawMessage: 'Aggregate state property "name" should only be written in an #[Apply] method, but is written in "Patchlevel\EventSourcingPHPStanExtension\Tests\Invalid\Profile::create()".'
			identifier: patchlevel.noStateWriteWhenNotApplying
			count: 1
			path: tests/Invalid/Profile.php

		-
			rawMessage: 'Aggregate state property "name" should only be written in an #[Apply] method, but is written in "Patchlevel\EventSourcingPHPStanExtension\Tests\Invalid\Profile::otherWriteForms()".'
			identifier: patchlevel.noStateWriteWhenNotApplying
			count: 2
			path: tests/Invalid/Profile.php

		-
			rawMessage: 'Method Patchlevel\EventSourcingPHPStanExtension\Tests\Invalid\Profile::deeplyHiddenRecordThat() records an event and is called from apply method applyNameChanged().'
			identifier: patchlevel.noRecordThatWhenApplying
			count: 1
			path: tests/Invalid/Profile.php

		-
			rawMessage: 'Method Patchlevel\EventSourcingPHPStanExtension\Tests\Invalid\Profile::hiddenRecordThat() records an event and is called from apply method applyNameChanged().'
			identifier: patchlevel.noRecordThatWhenApplying
			count: 1
			path: tests/Invalid/Profile.php

		-
			rawMessage: 'Method Patchlevel\EventSourcingPHPStanExtension\Tests\Invalid\Profile::traitHiddenRecordThat() records an event and is called from apply method applyNameChanged().'
			identifier: patchlevel.noRecordThatWhenApplying
			count: 1
			path: tests/Invalid/Profile.php

		-
			rawMessage: 'Method Patchlevel\EventSourcing\Aggregate\BasicAggregateRoot::recordThat() records an event and is called from apply method applyProfileCreated().'
			identifier: patchlevel.noRecordThatWhenApplying
			count: 1
			path: tests/Invalid/Profile.php

		-
			rawMessage: 'Property "email" of aggregate "Patchlevel\EventSourcingPHPStanExtension\Tests\Invalid\Profile" is never written in an #[Apply] method and is therefore unused.'
			identifier: patchlevel.unusedProperty
			count: 1
			path: tests/Invalid/Profile.php
